altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
distlib==0.3.8
fake-useragent==1.5.1
filelock==3.15.4
idna==3.8
packaging==24.1
pefile==2023.2.7
platformdirs==4.2.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.3
requests==2.32.3
soupsieve==2.6
urllib3==2.2.2
virtualenv==20.26.3
